@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.App {
    text-align: center;
}

h1 {
    color: #000000;
    margin-bottom: 0.5rem;
    font-size: 1.75rem;
}

.ToDoWrapper {
    background: #ffffff;
    margin-top: 5rem;
    padding: 2rem;
    border-radius: 5px;
    box-shadow: 0 0 4px #7e7e7e;
}

.ToDoForm {
    width: 100%;
    margin-bottom: 1rem;
}

.ToDo-input {
    outline: none;
    background: none;
    border: 1px solid #747474;
    border-radius: 5px;
    padding: 0.5rem 1rem;
    margin-top: 1rem;
    margin-bottom: 2rem;
    width: 600px;
    color: #000000;
}

.ToDo-input::placeholder {
    color: #79807a;
}

.ToDo-btn {
    background: #42a716;
    color: #ffffff;
    border: none;
    padding: 0.55rem;
    cursor: pointer;
    margin: 5px;
    border-radius: 5px;
}

.ToDo-btn:hover {
    background: #1b960b;
}

.ToDo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #ffffff;
    color: #dbd6d6;
    padding: 0.75rem 1rem;
    border-radius: 5px;
    margin-bottom: 1rem;
    box-shadow: 0 0 4px #7e7e7e;
}

.fa-trash,
.done-icon {
    margin-left: 0.75rem;
}

.incompleted {
    color: #000000;
    cursor: pointer;
}

.completed {
    color: #6dda52;
    text-decoration: line-through;
    cursor: pointer;
}

.edit-icon,
.done-icon,
.delete-icon {
    cursor: pointer;
}

.delete-icon {
    color: #ff0000;
}

.done-icon {
    color: #35ce0e;
}

.edit-icon {
    color: #8a8a8a;
}

.delete-icon:hover {
    color: #b30000;
}

.done-icon:hover {
    color: #1c8a00;
}

.edit-icon:hover {
    color: #474743;
}