@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #2a2c2a;
    display: flex;
    justify-content: center;
    align-items: center;
}

.App {
    text-align: center;
}

h1 {
    color: #d8d5d5;
    margin-bottom: 0.5rem;
    font-size: 1.75rem;
}

.ToDoWrapper {
    background: #494d4a;
    margin-top: 5rem;
    padding: 2rem;
    border-radius: 5px;
}

.ToDoForm {
    width: 100%;
    margin-bottom: 1rem;
}

.ToDo-input {
    outline: none;
    background: none;
    border: 1px solid #727572;
    border-radius: 5px;
    padding: 0.5rem 1rem;
    margin-top: 1rem;
    margin-bottom: 2rem;
    width: 600px;
    color: #b4b0b0;
}

.ToDo-input::placeholder {
    color: #79807a;
}

.ToDo-btn {
    background: #30352f;
    color: #ccc8c8;
    border: none;
    padding: 0.55rem;
    cursor: pointer;
    margin: 5px;
    border-radius: 5px;
}

.ToDo-btn:hover {
    background: #2e312e;
}

.ToDo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #7a7272;
    color: #dbd6d6;
    padding: 0.75rem 1rem;
    border-radius: 5px;
    margin-bottom: 1rem;
}

.fa-trash,
.done-icon {
    margin-left: 0.75rem;
}

.incompleted {
    color: #d3cbcb;
    cursor: pointer;
}

.completed {
    color: #6dda52;
    text-decoration: line-through;
    cursor: pointer;
}

.edit-icon,
.done-icon,
.delete-icon {
    cursor: pointer;
}

.delete-icon {
    color: #753636;
}

.done-icon {
    color: #3b5a33;
}

.edit-icon {
    color: #242423;
}

.delete-icon:hover {
    color: #8a3b3b;
}

.done-icon:hover {
    color: #486e3e;
}

.edit-icon:hover {
    color: #474743;
}